<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="capabilities" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <appSettings>
    <add key="apikey" value="ASAYER API KEY" />
    <add key="server" value="http://hub.asayer.io/wd/hub" />
    <add key="name" value="Testing NUnit with Asayer" />
  </appSettings>
  <capabilities>
    <add key="platform" value="LINUX" />
    <add key="browserName" value="chrome" />
  </capabilities>
</configuration>